{
    "clientID": "CLIENT_ID_HERE",
    "clientSecret": "LONG_CLIENT_SECRET_HERE",
    "authURL": "https://auth.monzo.com",
    "tokenURL": "https://api.monzo.com/oauth2/token",
    "redirectURI": "http://REDIRECT_URI"
}